body {
    font-family: Arial, sans-serif;
    background-image: url('../img/beijo.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: repeat; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

@media (max-width: 768px) {
    body {
        background-size: 50px 50px; 
        background-repeat: repeat; 
        background-position: top; 
    }
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    text-align: center;
}

.response-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.message {
    margin-top: 10px;
}
